.chart-container {
    width: 45%;
    height: 350px;

}

.chart-container h2 {
    font-size: 2rem;
    font-family: Rubik+Lines, sans-serif !important;
    font-weight: 700;
    color: rgb(4, 8, 75);
}