.App {
  width: 100vw;
  min-height: 100vh;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;

  color: black;
  font-size: 18px;
  font-family: sans-serif;

  background-color: rgb(128, 190, 235);
}

.App form {
  width: 400px;
  height: 400px;

  background-color: #fff;
  box-shadow: 3px 3px 3px 4px rgb(52, 51, 51);
}

.App form button {
  width: 80px;
  height: 40px;

  color: #fff;
  background-color: rgb(26, 26, 212);
}

.App div {
  width: 400px;
  height: 200px;

  background-color: #fff;
  box-shadow: 3px 3px 3px 4px rgb(52, 51, 51);
}

.App form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

}

.App div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;

  padding: 20px;
}