.home-app {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.h1 {
    font-size: 60px;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(8, 8, 136);
}

.link {
    font-size: 20px !important;
    font-weight: 500 !important;
    font-family: 'Courier New', Courier, monospace !important;
    color: rgb(226, 18, 181) !important;
}