.login-segment {
  background: linear-gradient(to right, rgb(8, 11, 14), rgb(25, 38, 52));
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

}

.content-login {
  width: 100%;
  height: 100%;

  display: flex;
  flex-grow: 2;
  align-items: center;
  justify-content: space-between;
  gap: 200px;

  padding: 0px 200px;

  margin-bottom: 130px;
}

.text-login {
  width: 40%;
  height: 62%;

  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: center;

  margin-top: 75px;
  gap: 15px;
}

.form-login {
  width: 35%;
  height: 52%;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;

  background-color: #ffffff;
  padding: 15px 25px;
  border-radius: 10px;

}

.form-login form {
  width: 100%;
  height: 90%;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  background-color: #ffffff;
}


.text-login h1,
h2 {
  color: white;
}

.text-login h1 {
  font-family: "Rubik", sans-serif;
  font-size: 42px;
  font-weight: bold;
}


.text-login h2 {
  font-family: "Rubik", sans-serif;
  font-size: 23px;
}

.text-login button {
  height: 48px;
  width: 45%;

  font-size: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;

  color: white;
  background-color: #1a17ba;
  border: none;

  border-radius: 5px;
  margin-top: 35px;
  cursor: pointer;
}

.text-login button:hover {
  scale: 1.05;
}


.form-login h1 {
  color: #1d1ac7;
  font-family: Nunito, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

  text-align: center;
  padding: 30px 0px;
}



.login-button {
  width: 250px;
  height: 48px;

  font-family: Nunito, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: #211ed3;
  border: none;

  border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;

}

.login-button:hover {
  scale: 1.05;
}

.text-login h1 span {
  color: #2321d2;
}

.mensagem-error {
  color: #DA0175;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.btn-v {
  align-self: flex-end;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: none;

}


/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/


.input-container-login {
  width: 95%;

  position: relative;
  margin: 20px;

}

/* Input field */
.input-field-login {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background-color: transparent;
}

/* Input label */
.input-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: rgba(204, 204, 204, 0);
  pointer-events: none;
  transition: all 0.3s ease;
}

/* Input highlight */
.input-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #007bff;
  transition: all 0.3s ease;
}

/* Input field:focus styles */
.input-field-login:focus+.input-label {
  top: -20px;
  font-size: 12px;
  color: #007bff;
}

.input-field-login:focus+.input-label+.input-highlight {
  width: 100%;
}




@media screen and (max-width:1500px) {

  .content-login {

    gap: 130px;

    padding: 0px 160px;

  }

  .form-login {
    width: 55%;
    height: 67%;

    display: flex;
    flex-direction: column;

    background-color: white;
    padding: 15px 25px 35px 25px;
    gap: 8px;

  }

  .text-login {
    width: 57%;
    height: 52%;

    display: flex;
    align-items: baseline;
    flex-direction: column;
    justify-content: center;

    margin-top: 35px;
    gap: 15px;
  }

  .text-login button {
    height: 48px;
    width: 45%;

    font-size: 20px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;

    color: white;
    background-color: #7978d9;
    border: none;

    border-radius: 5px;

    padding: 8px;
    margin-top: 15px;
  }
}

@media screen and (width:1404px) {

  .content-login {

    gap: 130px;

    padding: 0px 160px;

  }

  .form-login {
    width: 55%;
    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: white;
    padding: 15px 25px 35px 25px;
    gap: 8px;

  }

  .text-login {
    width: 57%;
    height: 52%;

    display: flex;
    align-items: baseline;
    flex-direction: column;
    justify-content: center;

    margin-top: 35px;
    gap: 15px;
  }

  .text-login button {
    height: 48px;
    width: 45%;

    font-size: 20px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;

    color: white;
    background-color: #7978d9;
    border: none;

    border-radius: 5px;

    padding: 8px;
    margin-top: 15px;
  }
}

@media screen and (max-width:1040px) {
  .login-segment {
    height: 100%;
  }

  .content-login {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    align-items: center;
    justify-content: center;

    gap: 20px;
    padding-bottom: 50px;
  }

  .text-login {
    display: flex;
    flex-direction: column;

    width: 85%;
    height: 37%;

    padding-bottom: 90px;

  }

  .form-login {
    display: flex;
    flex-direction: column;

    width: 85%;
    height: 37%;

    padding-bottom: 90px;

  }

  .text-login button {

    width: 100%;

  }

}

@media screen and (max-width:688px) {
  .login-segment {
    height: 100%;
  }

  .content-login {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    align-items: center;
    justify-content: center;

    gap: 20px;
    padding-bottom: 50px;
  }

  .text-login {
    display: flex;
    flex-direction: column;

    width: 120%;
    height: 37%;

    padding-bottom: 90px;

  }

  .form-login {
    display: flex;
    flex-direction: column;

    width: 120%;
    height: 37%;

    padding-bottom: 90px;

  }

  .text-login button {

    width: 100%;

  }

}

@media screen and (max-width:576px) {
  .login-segment {
    height: 100%;
  }

  .content-login {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    align-items: center;
    justify-content: center;

    gap: 20px;
    padding-bottom: 50px;
  }

  .text-login {
    display: flex;
    flex-direction: column;

    width: 140%;
    height: 37%;

    padding-bottom: 90px;

  }

  .form-login {
    display: flex;
    flex-direction: column;

    width: 140%;
    height: 37%;

    padding-bottom: 90px;

  }

  .text-login button {

    width: 100%;

  }

}

@media screen and (max-width:450px) {
  .login-segment {
    height: 100%;
  }

  .content-login {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    align-items: center;
    justify-content: center;

    gap: 20px;
    padding-bottom: 50px;
  }

  .text-login {
    display: flex;
    flex-direction: column;

    width: 300%;
    height: 37%;

    padding-bottom: 90px;

  }

  .form-login {
    display: flex;
    flex-direction: column;

    width: 300%;
    height: 37%;

    padding-bottom: 90px;

  }

  .text-login button {

    width: 100%;

  }

}