.signup-segment {
  background: linear-gradient(to right, rgb(8, 11, 14), rgb(25, 38, 52));
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.content-signup {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;


  margin-bottom: 150px;
}

.content-signup form {
  width: 23%;
  height: 72%;

  display: flex;
  flex-direction: column;
  border-radius: 10px;

  background-color: white;

  padding: 10px 22px;
}

.content-signup h1 {
  font-size: 28px;
  font-family: Rubik, sans-serif;
  font-weight: 500;
  color: #1f1db6;

  text-align: center;

  padding: 20px;
}

.content-signup label {
  font-family: Rubik, sans-serif;
  font-size: 15px;

  color: #484848;
}

.content-signup input {
  height: 43px;

  border-radius: 5px;
  border: 1px solid lightgray;

  padding: 10px;
}

.content-signup input:focus {
  outline: none;
}

.signup-button {
  height: 48px;

  color: white;
  background-color: #201dd9;

  border-radius: 5px;
  border: none;
  cursor: pointer;

  margin-top: 20px;
  margin-bottom: 5px;
}

.content-signup a {
  text-decoration: none;
  color: #3b1dd3;
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
}



@media screen and (max-Width:1300px) {

  .content-signup {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 100px 0px;

    margin-bottom: 50px;
  }

  .content-signup form {
    width: 30%;
    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: white;

    padding: 10px 15px;
  }

}

@media screen and (max-width:1700px)and (min-width:1368px) {

  .content-signup {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 100px 0px;

    margin-bottom: 50px;
  }

  .content-signup form {
    width: 30%;
    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: white;

    padding: 10px 15px;
  }

}

@media screen and (width:1366px) {

  .content-signup {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 50px;
  }

  .content-signup form {
    width: 30%;
    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: white;

    padding: 10px 15px;
  }

}

@media screen and (max-width:1360px) {

  .content-signup {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 100px 0px;

    margin-bottom: 50px;
  }

  .content-signup form {
    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: white;

    padding: 10px 15px;
  }

}


@media screen and (max-width:768px) {

  .content-signup {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 100px 0px;

    margin-bottom: 50px;
  }

  .content-signup form {
    width: 70%;
    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: white;

    padding: 10px 15px;
  }

}